@import '~@angular/material/theming';

:host {
  display: block;
  flex-basis: auto;
  flex-grow: 1;
  margin: 20px;

  .chart {
    height: 300px;
  }

  .mat-card-footer {
    background-color: mat-color($mat-pink, 300);
  }
}
