:host {
  display: block;

  > .container {
    padding: 15px 20px;

    .selected-hashtag {
      text-align: center;

      font-size: 1.5rem;
    }

    .dashboard {
      display: flex;
      width: 100%;

      .history-container {
        margin: 0 20px;
        flex-basis: auto;
        flex-grow: 1;
      }

      .card-container {
        flex-basis: auto;
        flex-grow: 2;

        > div {
          display: flex;
          justify-content: space-between;

          &.data-cards {
            app-data-display-card {
              margin: 20px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .dashboard {
      flex-direction: column;
    }
  }
}
