<div class="container">
  <div class="selected-hashtag">
    <h1 *ngIf="(selectedHashtag$ | async) as selectedHashtag">#{{ selectedHashtag }}</h1>
  </div>

  <div class="card-container">
    <div class="data-cards">
      <app-data-display-card
        [data]="selectedHashtagTweetCount$ | async"
        dataLabel="Tweets"
      ></app-data-display-card>
      <app-data-display-card
        [data]="selectedHashtagAvgPerMin$ | async"
        dataLabel="Avg / min"
      ></app-data-display-card>
    </div>
    <div class="chart-cards">
      <app-pie-chart-card [chartData]="chartData$ | async"></app-pie-chart-card>
    </div>
  </div>
</div>
