:host {
  > .container {
    padding: 15px 20px;

    .card-container {
      > div {
        display: flex;
        justify-content: space-evenly;

        &.data-cards {
          padding-bottom: 10px;
        }

        &.chart-cards {
          padding-top: 10px;
        }

      }

    }
  }
}
