:host {
  > .container {
    padding: 15px 20px;

    .selected-hashtag {
      text-align: center;
      font-size: 1.5rem;
    }

    .card-container {
      > div {
        display: flex;
        justify-content: space-evenly;

        &.data-cards {
          padding-bottom: 10px;
        }

        &.chart-cards {
          padding-top: 10px;
        }

      }

    }
  }
}
